  <!-- Modal Structure -->
  <div id="addroutemmodal" class="modal">
    <div class="modal-content">
      <h4>Add Route</h4>
        <div class="row">
        <form id="addrouteform" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="addrouteorigin" type="text" name="origin" class="validate">
              <label for="addrouteorigin">Source</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="addroutedest" type="text" name="dest" class="validate">
              <label for="addroutedest">Destination</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="addroutedate" type="timestamp"  name="date"  >
              <label for="addroutedate">Date</label>
            </div>
          </div>
          <div class="row">
            <div class="modal-close btn waves-effect waves-light right" id="addroutesubmit">Submit
              <i class="material-icons right">send</i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>