  <!-- Modal Structure -->
  <div id="signupmodal" class="modal">
    <div class="modal-content">
      <h4>Sign Up</h4>
        <div class="row">
        <form id="signupform" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="signupname" type="text" name="name" class="validate">
              <label for="signupname">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="signuppassword" type="password" name="password" class="validate">
              <label for="signuppassword">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="signupemail" type="email"  name="email"  class="validate">
              <label for="signupemail">Email</label>
              <span class="helper-text" data-error="Please enter a valid email"></span>
            </div>
          </div>
          <div class="row">
            <div class="modal-close btn waves-effect waves-light right" id="signupsubmit">Submit
              <i class="material-icons right">send</i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>