@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  background-color: #40464C; }

nav ul a {
  color: #DEF2F1;
  background-color: #40464C; }

nav {
  background-color: #40464C; }

nav .brand-logo {
  color: #3AAFA9;
  font-family: canada-type-gibson,sans-serif;
  font-weight: 700;
  font-size: 32px; }

p {
  line-height: 2rem; }

#navheight {
  height: 70px; }

.sidenav-trigger {
  color: #3AAFA9; }

#tablehead {
  display: none; }

.card {
  background-color: #FEEFFF;
  position: absolute;
  right: 150px;
  width: 400px;
  height: 65vh;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  float: right;
  color: #40464C; }

.card-title {
  text-align: center;
  color: #FEEFFF; }

.page-footer, .page-footer .footer-copyright {
  background-color: #40464C; }

.parallax-container {
  min-height: 80vh;
  line-height: 0;
  height: auto;
  color: #3AAFA9;
  background-color: rgba(4, 4, 4, 0); }

.parallax-container .section {
  width: 100%; }

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%; }
  #index-banner .section {
    top: 10%; } }

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0; } }

.icon-block {
  padding: 0 15px; }

.icon-block .material-icons {
  font-size: inherit; }

footer.page-footer {
  margin: 0; }

.header-font {
  color: #40464C; }

.subheader-font {
  color: #FEEFFF; }

.parallax > img {
  height: 100vh; }

.searchbox1 {
  margin-top: 20px; }

.searchbox2 {
  height: 80vh; }

#searchsubmit {
  margin-bottom: 20px; }

.searchbar {
  display: inline-block;
  padding-right: 30px; }

.hide {
  display: none; }

.mini-profile {
  height: 60vh; }

.span-block {
  color: #40464C;
  font-size: 24px;
  display: flex;
  line-height: 12vh;
  flex-direction: column;
  align-items: center; }
  .span-block .modal-trigger {
    color: white; }

.flex-vertical {
  flex-direction: column;
  justify-content: center; }
