<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
      var laravel = <%- JSON.stringify(uri.laravel)%>;
    </script>
    <meta charset="UTF-8">
    <% include ../partials/head %>
    <script src="scripts/init.js"></script>
 </head>
<body>

<header>
    <% include ../partials/header %>
</header>

<main>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="row container">
        <div class="col l6">
          <h1 class="header left header-font header-left">Accio</h1><br>
          <h5 class="subheader left subheader-font header-left"> Accio connects you with available delivery partners to deliver packages across boundaries </h5>
        </div>
        <div class="col right">
          <div class="card mini-profile" id="mini-profile">
          <div class="test">
            <div class="card-content span-block">
              <span class="mini-profile-sign">New to Accio?</span>
              <span class="btn modal-trigger" href="#signupmodal"  id="signupnav">
                Sign Up
              </span>
              <span class="mini-profile-or">
                <span>OR</span>
              </span>
              <span class="mini-profile-login">Already an existing user?</span>
              <span class="btn modal-trigger" href="#loginmodal"  id="loginnav">
                Login
              </span>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
    <div class="parallax"><img style "object-fit:cover;overflow = hidden;" src="assets/background.jpg"></div>
  </div>
</main>

<% include ../partials/loginmodal %>
<% include ../partials/signupmodal %>
<footer>
    <% include ../partials/footer %>
</footer>
<script src="scripts/script.js"></script>
</body>
</html>